<ns-action-bar showSave="true" title="Edit Product" (save)="onSave()" (back)="goBack()" ></ns-action-bar>
<ScrollView *ngIf="renderView">
    <StackLayout class="rc-r-14" (tap)="hideKeyboard()">
        <Progress [visibility]="isProgress? 'visible':'collapse' " marginLeft="2" marginRight="2" id="prgressmultiid" class="progress"></Progress>
        <StackLayout>
            <GridLayout class="page" backgroundColor="#bcbec1" height="200">
                <Carousel (loaded)="onCarouselLoad($event)" indicatorColor="blue" indicatorPadding="10" indicatorColorUnselected="rgba(255,255,255,0.50)"
                    indicatorOffset="0,-40"></Carousel>
            </GridLayout>
            <AbsoluteLayout verticalAlignment="bottom" class="float-btn-con" horizontalAlignment="right">
                <StackLayout class="float-btn-wrapper" shadow="30"  shape="OVAL">                  
                        <StackLayout class="float-btn" (tap)="onTakePictureTap()" (touch)="onTouchFloatBtn($event)">
                            <Label text="&#xE3B0;" class="gi float-btn-text"></Label>
                        </StackLayout>                    
                </StackLayout>
            </AbsoluteLayout>
        </StackLayout>
        <!-- form starts -->
        <GridLayout rows="44,auto,44,auto,44,auto,auto,44,auto,44,auto,44,auto,44,auto,auto" columns="auto,*,auto">
            <Label row="0" col="0" text="Name" class="label" verticalAlignment="center" (tap)="onTapFocus('productName')"></Label>
            <TextField  row="0" col="1" colspan="2" #textField id="productName" [(ngModel)]="product.name" class="text-field text-right"
                autocorrect="true"></TextField>
            <StackLayout row="1" colSpan="3" class="hr-light" ></StackLayout>
            <Label text="Supplier" class="label" row="2" col="0" (tap)="gotoSupplierList()"></Label>
            <Label text="{{product.supplierName?product.supplierName:'add Supplier'}}" row="2" class="text-data text-right" 
                col="1" (tap)="gotoSupplierList()"></Label>
            <Label text="&#xE409;" class="gi float-btn-text label-next text-right" (tap)="gotoSupplierList()" verticalAlignment="center"
                row="2" orientation="horizontal" col="2"></Label>
            <StackLayout class="hr-light" row="3" colSpan="3"></StackLayout>
            <Label row="4" col="0" text="Category" class="label" (tap)="gotoCategoryList()"></Label>
            <Label row="4" col="1" text="{{product.category?product.category:'add Category'}}" class="text-data text-right" (tap)="gotoCategoryList()"></Label>
            <Label row="4" col="2" text="&#xE409;" class="gi float-btn-text text-right label-next" (tap)="gotoCategoryList()" verticalAlignment="center"></Label>
            <StackLayout class="hr-light" row="5" colSpan="3"></StackLayout>

            <StackLayout row="6" col="0" colSpan="3" class="line-des" >                
                    <Label text="Description" class="label" verticalAlignment="center" (tap)="onTapFocus('productDescription')"></Label>
                    <TextView #textView id="productDescription" width="100%" class="text-field-desc" [(ngModel)]="product.description" autocorrect="true"></TextView>                          
            </StackLayout>

            <Label  row="7" col="0"  text="Price" class="label" (tap)="onTapFocus('productPrice')"></Label>
            <TextField row="7" col="1"   #textField id="productPrice" class="text-field  text-right"   keyboardType="number"
               [(ngModel)]="product.price" autocorrect="true"></TextField>
            <Label row="7" col="2" [text]="selectedCurrency" class="fa label-price text-right"  verticalAlignment="center"></Label>
            <StackLayout class="hr-light" row="8" colSpan="3"></StackLayout>

            <Label  row="9" col="0" text="Currency" class="label"  (tap)="onSelectCountry()"></Label>
            <Label  row="9" col="1" [text]="product.currency" class="text-data text-right"   (tap)="onSelectCountry()"></Label>
            <Label  row="9" col="2" text="&#xE409;" class="gi float-btn-text text-right label-next"  verticalAlignment="center"
                (tap)="onSelectCountry()"></Label>
            <StackLayout row="10" colSpan="3" class="hr-light" ></StackLayout>

            <Label  row="11" col="0" text="MOQ" class="label" verticalAlignment="center" (tap)="onTapFocus('productMoq')"></Label>
            <TextField  row="11" col="1" colspan="2" #textField id="productMoq" class="text-field text-right" [(ngModel)]="product.moq"
                keyboardType="number" autocorrect="true" ></TextField>
            <StackLayout row="12" colSpan="3" class="hr-light" ></StackLayout>

            <Label  row="13" col="0" text="Assigned Project" class="label"></Label>
            <Label  row="13" col="1" colSpan="2" text="{{product.assignedProject}}" class="label-unassigned text-right"  verticalAlignment="center"></Label>
            <StackLayout row="14" colSpan="3"  class="hr-light" ></StackLayout>

            <StackLayout row="15" colspan="3" class="private-notes" >
                <Label *ngIf="!notesShow" text="Private Notes"  class="private-notes-label-hide text-left" (tap)="onFocusNotes()"></Label>
                <Label  *ngIf="notesShow"text="Private Notes" class="private-notes-label-show text-left"></Label>
                <TextView *ngIf="notesShow" #textView width="100%" id="privateNote" class="text-field-notes" [(ngModel)]="product.privateNotes" appGetFocus (blur)="onBlurNotes()"
                    autocorrect="true">
                </TextView>             
            </StackLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>