.float-btn-con{
    margin: -90 19 0 0;
}
.float-btn {
    background-color:#0057a7;
    border-radius: 28;
    font-size: 24;
    width:56;
    height:56;
    text-align: center;
    vertical-align: middle;
    color:#ffffff;
  }

.label{
    font-size: 14;
    line-height: 20;
    color: #8C8C8C;
    margin: 12 0 12 16;
    padding: 0 0 0 0
}

.text-field{
    font-size: 16;
    margin: 0 5 0 0;
    line-height: 20;
    color: #212121;
    border-bottom-width: 1;
    border-bottom-color:white ;    
 
}
.label-next{
    font-size: 20;
    color: #8C8C8C;
    margin: 0 3 0 0;
}
.text-field-desc{
    padding: 0 0 12 16;
    font-size: 16;
    color: #212121;
    border-bottom-color:white ;  
    border-bottom-width: 1;
}

.line-des{
    border-width:0.5;
    border-color:transparent transparent #e0e0e0 transparent;
    border-style: solid;
    width:100%;
}
.label-price{
    margin: 0 10 0 0;
    color: #212121;
    white-space: nowrap;
    text-align: right;
    font-size: 16;
    line-height: 20;
    /* width: 10; */
    height: 20;
    
}
.label-unassigned{
    color: blue;
    padding: 0 20 0 0;
}

.text-field-notes{
      padding: 12 0 12 16;
      border-bottom-color: blue;
      border-bottom-width: 1; 
      font-size:16;
      color: #212121;
}

.private-notes{
    margin: 16 16 16 16;
    background-color: rgb(215, 219, 221);
    border-radius: 5%;
    box-shadow: 10px 10px;
}
.private-notes-label-hide{
    font-size:16;  
    line-height: 24;
    margin: 20 0 20 25;
}
.private-notes-label-show{
    margin: 10 0 0 16;
    font-size:16;
    line-height: 20;
}
.text-data{
    font-size: 16;
    line-height: 20;
    color: #212121;
    margin: 10 0 0 16;
    padding: 0 0 0 0
}
.float-btn-wrapper {
    width:56;
    height:56;
    margin: 0 10 20 0 ;
}

/* .float-btn-shadow {
        width:56;
        height:56;
} */
  