<StackLayout (tap)="tapOnImage(data)">
    <Image [src]="data.image" [height]="hight" [width]="width" [decodeWidth]="hight" [decodeHeight]="width" stretch="fill" class="image" loadMode="async"></Image>
</StackLayout>