
<ns-action-bar showSearch="true" title="Add Category" (back)="goBack()" ></ns-action-bar>
<StackLayout *ngIf="renderView" height="100%" width="100%" class="rc-r-16">
    <RadListView [items]="list" [itemTemplateSelector]="templateSelector">
      <ng-template tkTemplateKey="group" let-item="item">       
          <Label [text]="item.name" class="alphabet-group"></Label>        
      </ng-template>
      <ng-template tkTemplateKey="item" let-item="item">
        <StackLayout  orientation="horizontal" class="image-contact-container" (tap)="onSelect(item)">
          <Label [text]="item.name" verticalAlignment="center" textWrap="true" class="contact-name"></Label>
        </StackLayout>
      </ng-template>
    </RadListView>
</StackLayout>
