<GridLayout rows="auto,*,auto" columns="127,*,auto" class="supplier-modal-wrapper">
        <Label row="0" colSpan="3" text="Add a Business Card?" class="supplier-modal-label" textWrap="true"></Label>
        <Label row="1" colSpan="3" text="You can either choose or take a picture now or do that later." verticalAlignment="center" class="business-card-message" textWrap="true"></Label>
        <Label row="2" col="1" text="SKIP" class="supplier-modal-footer-label"  (tap)="skip()" textWrap="true"></Label>
        <Label row="2" col="2" text="YES"  class="supplier-modal-footer-label"  (tap)="yes()" textWrap="true"></Label>
</GridLayout>