<ns-action-bar showSave="true" title="Edit Supplier" (save)="onSave()" (back)="goBack()"></ns-action-bar>
<ScrollView *ngIf="renderView">
    <StackLayout backgroundColor="#f9f9f9">
        <StackLayout height="213" backgroundColor="#f9f9f9" *ngIf="!supplier.business_card">
            <StackLayout marginTop="40" height="132" marginLeft="58" marginRight="68">
                <Image src="~/assets/supplier-card.png" (tap)="gotoCamera()" width="228" height="127" decodeWidth="228" decodeHeight="127"
                    loadMode="async" marginBottom="41" horizontalAlignment="center"></Image>
            </StackLayout>
        </StackLayout>
        <StackLayout class="business-card-background-image" height="213" width="100%" stretch="fill" *ngIf="supplier.business_card">
            <Image [src]="supplier.business_card" backgroundColor="orange" stretch="aspectFill" shadow="28" marginLeft="18" marginTop="25"
                marginRight="18" marginBottom="25" decodeWidth="100%" decodeHeight="213" loadMode="async"></Image>
        </StackLayout>
        <StackLayout backgroundColor="#ffffff" orientation="horizontal" (tap)="gotoCamera()">
            <Image src="~/assets/business-card-add.png" width="24" height="24" decodeWidth="24" decodeHeight="24" loadMode="async" verticalAlignment="center"
                style="color:black;margin:16 12 8 17" horizontalAlignment="center"></Image>
            <Label text="Add Business Card" style="color:rgb(54, 54, 54);margin:16 12 8 17" textWrap="true"></Label>
        </StackLayout>
        <StackLayout class="hr-light">
        </StackLayout>
        <!-- form starts -->
        <GridLayout rows="44,auto,auto,auto,auto,auto,44,auto,auto,auto,44,auto,auto,auto,44,auto" columns="*,2*" backgroundColor="#ffffff">
            <Label row="0" col="0" text="Name" class="label" verticalAlignment="center"></Label>
            <TextField row="0" col="1" id="productName" [(ngModel)]="supplier.name" class="text-field text-right" autocorrect="true"
                #company="ngModel" company required></TextField>
            <StackLayout row="1" colSpan="2" class="hr-light"></StackLayout>
            <Label row="2" col="1" *ngIf=" company.dirty && company.errors && company.errors.required" class="error-msg text-right" text="Company name is required"></Label>
            <StackLayout row="3" colSpan="2" *ngIf=" company.dirty && company.errors && company.errors.required" class="hr-light"></StackLayout>
            <Label row="4" colspan="2" text="Contact" paddingLeft="16" paddingTop="7" paddingBottom="3" backgroundColor="#f9f9f9" textWrap="true"></Label>
            <StackLayout row="5" colSpan="2" class="hr-light"></StackLayout>
            <Label row="6" col="0" text="E-Mail" class="label" verticalAlignment="center"></Label>
            <TextField row="6" col="1" class="text-field text-right" [(ngModel)]="supplier.email" autocorrect="false" #email="ngModel" email required  keyboardType="email" autocapitalizationType="none"></TextField>
            <StackLayout row="7" colSpan="2" class="hr-light"></StackLayout>
            <Label row="8" col="1" *ngIf=" email.dirty && email.errors && email.errors.required" class="error-msg text-right" text="Email is required"></Label>
            <Label row="8" col="1" *ngIf="email.errors && !email.errors.required" class="error-msg text-right" text="Email address is not valid"></Label>
            <StackLayout row="9" colSpan="2" *ngIf="(email.dirty && email.errors && email.errors.required) || (email.errors && !email.errors.required)"
                class="hr-light"></StackLayout>

            <Label row="10" col="0" text="Contact Name"  class="label" verticalAlignment="center" col="0"></Label>
            <TextField row="10" col="1" class="text-field text-right"  [(ngModel)]="supplier.contact" autocorrect="true"  #contactName="ngModel" contactName required></TextField>
            <StackLayout row="11" colSpan="2" class="hr-light" ></StackLayout>

            <Label row="12" col="1" *ngIf=" contactName.dirty && contactName.errors && contactName.errors.required"  class="error-msg text-right"
                text="Contact name is required"></Label>
            <StackLayout row="13" colSpan="2" *ngIf="contactName.dirty && contactName.errors && contactName.errors.required" class="hr-light"></StackLayout>

            <Label row="14" col="0" text="Mobile" class="label"  verticalAlignment="center"></Label>
            <TextField row="14" col="1" class="text-field text-right"  keyboardType="number" [(ngModel)]="supplier.phone" autocorrect="true"></TextField>
            <StackLayout row="15" colSpan="2" class="hr-light" ></StackLayout>
        </GridLayout>
        <!-- form ends -->
    </StackLayout>
</ScrollView>