<StackLayout>
    <GridLayout [visibility]="selectedItemCount > 0? 'visible':'collapse'" rows="auto" columns="auto,auto,*,auto" class="custom-action-bar">
        <Label text="&#xE5C4;" class="gi custom-action-bar-button" col="0" ios:horizontalAlignment="left" android:horizontalAlignment="left"
            verticalAlignment="center" (tap)="backOnTap($event)"></Label>
        <Label [text]="selectedItemCount" col="1" class="selected-item-count" ios:horizontalAlignment="left" android:horizontalAlignment="left"></Label>
        <Label text="&#xE872;" class="gi custom-action-bar-button" col="2" ios:horizontalAlignment="right" android:horizontalAlignment="right"
            (tap)="deleteOnTap($event)"></Label>
        <Label text="&#xE5D4;" class="gi custom-action-bar-button" col="3" ios:horizontalAlignment="right" android:horizontalAlignment="right"></Label>
    </GridLayout>    
    <GridLayout [visibility]="(selectedItemCount == 0) ? 'visible':'collapse'" rows="auto" columns="*,*,auto"
        class="custom-action-bar">
        <Image src="res://slogo" col="0" width="100" ios:horizontalAlignment="left" android:horizontalAlignment="left" loadMode="async"></Image>
        <Label text="&#xE8B6;" class="gi custom-action-bar-button" col="1" ios:horizontalAlignment="right" android:horizontalAlignment="right"></Label>
        <Label text="&#xE5D4;" class="gi custom-action-bar-button" col="2" ios:horizontalAlignment="right" android:horizontalAlignment="right"></Label>
    </GridLayout>
    <TabView *ngIf = "renderView" [(ngModel)]="tabSelectedIndex" [tabBackgroundColor]="(selectedItemCount == 0) ?'#0057a7':'#1c67a8'"
        selectedTabTextColor="#FFFFFF" tabTextColor="#b2cbe4" androidSelectedTabHighlightColor="#FFFFFF" iosIconRenderingMode="alwaysOriginal">
        <StackLayout *tabItem="{title: 'PROJECTS'}">
                <Label text="PROJECTS" textWrap="true"></Label>
        </StackLayout>
        <StackLayout *tabItem="{title: 'PRODUCTS'}">
                <ns-products (registerHandlers) = "setHandlers($event,1)" (selectedItemCount)="setSelectedItemCount($event)"></ns-products>
        </StackLayout>
        <StackLayout *tabItem="{title: 'SUPPLIERS'}">
                <ns-suppliers></ns-suppliers>
        </StackLayout>
    </TabView>
</StackLayout>