.selected-item-count{
    margin-left: 10;
    font-size: 18;
    line-height: 22;
    text-align: center;
  }

.custom-action-bar{
    padding: 24 0 14 24;
    color:white;
    background-color: #0057a8;
    font-size: 15;
}

.custom-action-bar-button{
    /* margin-right: 16; */
    font-size: 25;
    line-height: 22;
    text-align: center;   
  }
