<StackLayout orientation="horizontal" class="image-contact-container" (tap)="tap.emit(supplier)">
  <StackLayout class="margin-top-bottom-16" orientation="horizontal" height="40" width="45" *ngIf="!showAddProduct || showAddProduct == 'false'">   
    <Image src="res://imgphoto" class="img-circle" height="40" width="40" decodeWidth="40" decodeHeight="40" loadMode="async"></Image>    
    <Label [visibility]="supplier.isSelected == 'true' ? 'visible' : 'collapsed' " text="&#xE86C;" class="gi round-selected-button" marginTop="21"
      marginLeft="-14"></Label>
  </StackLayout>
  <GridLayout verticalAlignment="center" rows="auto" columns="auto,170,*,auto">
    <Label [text]="supplier.name" row="0" col="0" colspan="2" verticalAlignment="center" textWrap="true" class="contact-name"></Label>
    <Label visibility="{{supplier.product ? 'visible' : 'collapsed' }}" row="0" col="1" verticalAlignment="center" horizontalAlignment="right"
      textWrap="true" class="product-label">
      <FormattedString>
        <Span text="{{supplier.product}}" style="font-weight:bold"></Span>
        <Span text=" Products "></Span>
      </FormattedString>
    </Label>
    <Label visibility="{{supplier.project ? 'visible' : 'collapsed' }}" row="0" col="2" verticalAlignment="center" horizontalAlignment="right"
      textWrap="true" class="product-label">
      <FormattedString>
        <Span text=" {{supplier.project}} " style="font-weight:bold"></Span>
        <Span text=" Projects "></Span>
      </FormattedString>
    </Label>
    <StackLayout  *ngIf ="showAddProduct == 'true'" class="product-link" row="0" col="3" paddingRight="16"
      (tap)="addNewProducts(supplier)">
      <Label verticalAlignment="center" horizontalAlignment="right" textWrap="true" class="product-label">
        <FormattedString>
          <Span text="Add Product" style="font-weight:bold;color:#0057a8;"></Span>
        </FormattedString>
      </Label>
    </StackLayout>
  </GridLayout>
</StackLayout>