.product-label {
    color: #0057a7;
    font-size: 12;
    padding-left: 0;
    line-height: 12;
}

.product-link {
    padding-top: 16;
    padding-bottom: 16;
    /* background-color: aquamarine; */
    /* margin: 0; */
    /* padding: 0; */
}
