<StackLayout width="60%" height="auto">
    <ScrollView>
        <ListView [items]="list" (itemTap)="onItemTap($event)" height="165" class="list-group">
            <ng-template let-country="item" let-i="index">
                <GridLayout class="list-group-item" height="80">
                    <Label [text]="country" class="text-center"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </ScrollView>
</StackLayout>
