<ActionBar title="" class="action-bar action-title">
    <GridLayout rows="auto" columns="auto,*,auto,auto">
        <Label col="0" text="&#xE5C4;" class="gi action-bar-button" ios:horizontalAlignment="left" android:horizontalAlignment="left"
            verticalAlignment="center" (tap)="back.emit()"></Label>
        <Label col="1" [text]="title" class="action-text-title" horizontalAlignment="left"  verticalAlignment="center"></Label>
        <Label col="2" *ngIf="showSave == 'true'" text="save"  (tap)="save.emit()" class="action-text-title" verticalAlignment="center"></Label>
        <Label col="2" *ngIf="showSearch == 'true'" text="&#xE8B6;" class="gi action-bar-button"  (tap)="search.emit()" verticalAlignment="center"></Label>
    </GridLayout>
</ActionBar>