.action-bar{
    background-color: #0057a7;
    color: white;
    font-size: 15;
   
}

.action-title{
    padding: 9 16 9 0;
    height: 56;
}
.action-bar-button {
    font-size: 25;
    line-height: 22;
    text-align: center;
}

.action-text-title{
    margin: 0 0 0 31;
    font-size:20;     
}
.action-text-save{
    font-size:14;
    line-height: 11;
    font-weight: bold;
    height: 16;
    
}