/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/* @import 'nativescript-theme-core/css/core.light.css'; */
@import '~nativescript-theme-core/css/blue.css';

.fa {
    font-family: "fontawesome", fontawesome-webfont;
}
.gi {
   
    font-family: "Material Icons", MaterialIcons-Regular;
}

.rc-r-12{
    font-size: 12;
    line-height:14;
}
.rc-r-13{
    font-size: 13;
    line-height:20;
}
.rc-r-14{
    font-size: 14;
    line-height:20; 
}

Page{
    font-family: "RobotoCondensed",RobotoCondensed-Regular;
    font-size: 16;
    line-height:20;
}
.rc-r-16{
    font-size: 16;
    line-height:20;
}

.alphabet-group{
    background-color: #f9f9f9;
    padding-top:8;
    font-weight: bold;
    padding-bottom:8;
    padding-left:16;
  }

  .image-contact-container{
    margin:8 0 8 8;
  }
  .contact-name{
    color:black;
    padding-left:11; 
  }

.round-selected-button {
    background-color: #ffffff;
    color: rgb(255, 102, 0);
    border-radius: 28;
    font-size: 18;
    text-align: center;
    vertical-align: middle;
}

.label{
    font-size: 14;
    line-height: 20;
    color: #8C8C8C;
    margin: 12 0 12 16;
    padding: 0 0 0 0
}

.text-field{
    font-size: 16;
    margin: 0 5 0 0;
    line-height: 20;
    color: #212121;
    border-bottom-width: 1;
    border-bottom-color:white ;    
 
}

.error-msg {
    color: red;
}
.supplier-modal-wrapper{
    height: 140;
    width: 260;
    margin: 25  
}

.supplier-modal-label{
    font-weight: bold;
    font-size:20;
    color:black;
    
}

.supplier-modal-footer-grey{
    color:#8C8C8C;
    font-size:14;
    font-weight: bold;
    letter-spacing: 0.06;  
}

.supplier-modal-footer-label{
    color:#0057a8;
    font-size:14;
    font-weight: bold;
    letter-spacing: 0.06;    
}

.padding-image{
    padding:10 20 10 20;
}

.float-btn-text {
    color:#ffffff;
    font-size: 24;
    margin-top:0;
  }

.float-btn.down {
    animation-name: down;
    animation-fill-mode: forwards;
  }

  @keyframes down {
    from { background-color: #0057a7; }
    to { background-color: #03498b;  }
}

