<GridLayout rows="auto,*,auto" columns="127,*,auto" class="supplier-modal-wrapper">
        <Label row="0" colSpan="3" text="New supplier" class="supplier-modal-label" textWrap="true"></Label>
        <TextField row="1" colSpan="3" *ngIf="!isFocus" hint="Supplier Name" editable="false" (tap)="focus()"  [(ngModel)]="supplier.name"
        verticalAlignment="center" borderBottomColor="gray" borderBottomWidth="2" autocorrect="true"></TextField>
        <TextField row="1" colSpan="3" *ngIf="isFocus" hint="Supplier Name" editable="true"  appGetFocus [(ngModel)]="supplier.name"
        verticalAlignment="center" borderBottomColor="#0057a8" borderBottomWidth="2" autocorrect="true"></TextField>
        <Label row="2" col="1" text="CANCEL"  class="supplier-modal-footer-grey"  (tap)="cancel()" textWrap="true"></Label>
        <Label row="2" col="2" text="CREATE" class="supplier-modal-footer-label"  (tap)="onSaveAndClose()" textWrap="true"></Label>
</GridLayout>