<GridLayout rows="*, auto" class="content-text font-color ">
    <StackLayout>
        <StackLayout class="image-container">
            <Label text="Unassigned Photos" class="unassigned"></Label>
            <RadListView [items]="imageList" class="list-group">
                <ng-template tkListItemTemplate let-image="item" orientation="horizontal">
                    <StackLayout orientation="horizontal">
                        <ns-image-card [data]=image [hight]="50" [width]="50"></ns-image-card>
                    </StackLayout>
                </ng-template>
                <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
            </RadListView>
        </StackLayout>
        <StackLayout class="product-container">
            <StackLayout shadow="5">
                <GridLayout rows="auto" columns="*,auto" class="filter-container">
                    <StackLayout orientation="horizontal" col="0" horizontalAlignment="right" class="filter-by">
                        <Label text="Date" class="date rc-r-12"></Label>
                        <Label text="&#xE5D8;" fontAttributes="Bold" class="gi date-sort-up"></Label>
                        <Label text="&#xE5DB;" fontAttributes="Bold" class="gi date-sort-down"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal" col="1" horizontalAlignment="right" class="filter-by">
                        <Label text="by Project " class=" project rc-r-12"></Label>
                        <Label text="&#xE164;" fontAttributes="Bold" class="gi filter-icon"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <StackLayout>
                <RadListView [itemTemplateSelector]="templateSelector" [items]="products" class="list-group">
                    <ng-template tkTemplateKey="group" let-product="item">
                        <StackLayout class="product-group">
                            <Label [text]="product.name" class="rc-r-13"></Label>
                        </StackLayout>
                    </ng-template>
                    <ng-template tkListItemTemplate let-product="item" let-i="index" orientation="horizontal" tkTemplateKey="item">
                        <GridLayout rows="auto" columns="80,*" (longPress)="onLongPressItemSelected(product)" (tap)="onItemSelected(product)">
                            <StackLayout orientation="horizontal" class="product-image-container">
                                <Image [src]="product.imageList && product.imageList[0]?product.imageList[0] :'res://imgphoto'" stretch="fill" height="40" width="40" decodeWidth="40" decodeHeight="40" loadMode="async"></Image>
                                <Label text="&#xE86C;" [visibility]="product.isSelected == 'true' ? 'visible' : 'collapsed'" class="gi round-selected-button" marginTop="21"
                                    marginLeft="-14"></Label>
                            </StackLayout>
                            <StackLayout col="1" class="detail-container">
                                <Label [text]="product.name" textWrap="true"></Label>
                                <StackLayout orientation="horizontal">
                                    <Label [text]="product.supplierName" textWrap="true" class="rc-r-14"></Label>
                                    <Label text=" - " textWrap="true" class="rc-r-14"></Label>
                                    <Label [text]="product.assignedProject" textWrap="true" class="rc-r-14"></Label>
                                </StackLayout>                                
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <AbsoluteLayout row="0" verticalAlignment="bottom" horizontalAlignment="right">
        <StackLayout class="float-btn-wrapper" shadow="30" cornerRadius="40">
            <StackLayout>
                <StackLayout class="float-btn" orientation="horizontal" (tap)="startQRScanner()" (touch)="onTouchFloatBtn($event)">
                    <StackLayout class="padding-image">
                        <Image src="~/assets/qr_scan_icon.png" verticalAlignment="center" height="24" width="24" decodeWidth="24" decodeHeight="24" loadMode="async"></Image>
                    </StackLayout>
                    <StackLayout orientation="horizontal" borderRightColor="#4786c0" height="21" verticalAlignment="center" paddingTop="12" paddingBottom="12"
                        borderRightWidth="2">
                    </StackLayout>
                    <StackLayout (tap)="onNewProduct()">
                        <StackLayout class="padding-image">
                            <Image src="~/assets/add_product_icon.png" verticalAlignment="center" height="24" width="24" decodeWidth="24" decodeHeight="24" loadMode="async"></Image>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </AbsoluteLayout>
</GridLayout>