.product-group{
    background-color: #f9f9f9;
    width: 100%;
    padding: 8 0 0 16;
    height: 32;
    border-width:0.5;
    border-color: transparent transparent #dadada  transparent;
    border-style: solid;

}

.product-image-container{
    padding: 16 16 8 16;
    
}

.detail-container{
    
    padding: 16 0 0 0;
    height: 72;
    color: #212121;
   
}

.float-btn-wrapper {
    width:130;
    height:45;
    margin: 0 17 60 0 ;

}
.float-btn {
    background-color:#0057a7;
    border-radius: 6;
    /* width:90;
    height:37; */
    height:45;
    text-align: center;
    vertical-align: middle;
  }

  .product-container{
    background-color: #ffffff;
}
.filter-container{
    color: #8f8f8f;
    height: 48;
    background-color: #ffffff;
}
.date{
    margin: 0 8 0 0;
}
.date-sort-up{    
    margin: 2 0 0 0;  
    line-height: 0;
    font-weight: 100;
    
}
.date-sort-down{    
    margin: 2 0 0 -3; 
    color: #dedede;     
}
.project{
    margin: 0 8 0 0;
}
.image-container{
    height: 96;
    background-color: #dfdfdf;
    padding: 5 5 0 5;
}
.unassigned{
    margin: 5 0 0 10;
}
.list-group{
    margin-bottom: 10;
}
.filter-icon{
    margin: 2 16 0 0;  
   
}
.filter-by{    
    margin: 15 0 0 16;
    font-size: 12;
    line-height: 14;

}


