 
  .float-btn {
    background-color:#0057a7;
    border-radius: 6;
    /* width:90;
    height:37; */
    height:45;
    text-align: center;
    vertical-align: middle;
  }
  
  .float-padding{
    padding-top:10;
    padding-bottom:10;
    padding-left:20;
    padding-right:20;
  } 

  .float-btn-wrapper {
    width:65;
    height:45;
    margin: 0 17 60 0 ;
}

  