<GridLayout> 
    <RadListView [items]="suppliers" [itemTemplateSelector]="templateSelector">
      <ng-template tkTemplateKey="group" let-supplier="item">      
          <Label [text]="supplier.name" class="alphabet-group"></Label>      
      </ng-template>
      <ng-template tkTemplateKey="item" let-supplier="item">
        <ns-supplier-card (tap)="onItemSelected($event)" [supplier]="supplier" showAddProduct="true"></ns-supplier-card> 
      </ng-template>
    </RadListView>
  <AbsoluteLayout row="0" verticalAlignment="bottom" horizontalAlignment="right">
    <StackLayout class="float-btn-wrapper" shadow="28" cornerRadius="40">      
        <StackLayout class="float-btn" (tap)="addNewSupplier()" (touch)="onTouchFloatBtn($event)" orientation="horizontal">
          <StackLayout class="padding-image">
              <Label text="&#xE145;" class="gi float-btn-text"></Label>             
          </StackLayout>       
      </StackLayout>
    </StackLayout>
  </AbsoluteLayout>
</GridLayout>