<ns-action-bar showSearch="true" title="Add Supplier" (back)="goBack()"></ns-action-bar>
<GridLayout rows="auto,*" class="rc-r-14">
  <RadListView *ngIf="isSelectedData" row="0" [items]="selectedSuppliers" class="selected-supplier-container">
    <ng-template tkListItemTemplate let-supplier="item" orientation="horizontal">
      <StackLayout orientation="vertical" margin="0 16 0 0">       
        <Image src="res://imgphoto" class="img-circle" height="40" width="40" decodeWidth="40" decodeHeight="40" ></Image>       
        <Label [visibility]="supplier.isSelected == 'true' ? 'visible' : 'collapsed' " text="&#xE5C9;" horizontalAlignment="center"
          verticalAlignment="bottom" class="gi float-btn-cancel" marginTop="-20" marginLeft="35" (tap)="onItemSelected(supplier)"></Label>
        <Label [text]="supplier.name" horizontalAlignment="center" verticalAlignment="bottom" textWrap="true" marginTop="10"></Label>
      </StackLayout>
    </ng-template>
    <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
  </RadListView>
  <RadListView row="1" *ngIf="renderView" [items]="suppliers" [itemTemplateSelector]="templateSelector" selectionBehavior="Press">
    <ng-template tkTemplateKey="group" let-supplier="item">
      <Label [text]="supplier.name" class="alphabet-group"></Label>
    </ng-template>
    <ng-template tkTemplateKey="item" let-supplier="item">
      <ns-supplier-card (tap)="onItemSelected($event)" [supplier]="supplier"></ns-supplier-card>
    </ng-template>
  </RadListView>
  <AbsoluteLayout row="1" verticalAlignment="bottom" horizontalAlignment="right">
    <StackLayout class="float-btn-wrapper" shadow="28" cornerRadius="40" [visibility]="isSelectedData ? 'visible' : 'collapsed'">
      <StackLayout class="float-btn" (tap)="onTapAddSupplier()" (touch)="onTouchFloatBtn($event)">
        <Label text="&#xE5CA;" class="gi float-btn-text float-padding"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="float-btn-wrapper" shadow="28" cornerRadius="40" [visibility]="!isSelectedData ? 'visible' : 'collapsed'">
      <StackLayout class="float-btn" (tap)="addNewSupplier()" (touch)="onTouchFloatBtn($event)">
        <Label text="&#xE145;" class="gi float-btn-text float-padding"></Label>
      </StackLayout>
    </StackLayout>
  </AbsoluteLayout>
</GridLayout>