
.selected-supplier-container{
  background-color:#0057a7;
  padding-top:24;
  padding-bottom:24;
  padding-left: 16;
  padding-right: 16;
  margin-right:0;
  color: white;
  font-size: 15;
}

.float-btn {
  background-color:#0057a7;
    border-radius: 6;
    /* width:74;
    height:37; */
    height: 45;
    text-align: center;
    vertical-align: middle;
}

.float-btn-cancel {
  background-color:#ffffff;
  color:#838383;
  font-size: 18;
  margin-top:0;
  border-radius: 50;
}

.product-label{
  color:#0057a7;
  font-size:12;
}
.project-label{
  color:#0057a7;
  font-size:12;
  padding-left:0;
  line-height: 12;
}

.float-btn-wrapper {
  border-radius: 100;
  width:65;
  height:45;
  /* margin: 0 17 40 0 ; */
  margin: 0 17 60 0;
}
.float-padding{
  padding-top:10;
  padding-bottom:10;
  padding-left:20;
  padding-right:20;
}

